<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home | Mock Bakery</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
  </head>
  <body>
    <nav>
      <h1>Welcome to Mock Bakery!</h1>
      <!-- Button to toggle dropdown -->
      <button class="menu-button" onclick="toggleDropdown()">
        <div class="burger-menu">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </button>

      <!-- Dropdown menu -->
      <div class="dropdown-content" id="dropdownMenu">
        <a href="../templates/menu.html">Menu</a>
        <a href="../templates/about.html">About Us</a>
        <a href="../templates/contact.html">Contact</a>
      </div>
    </nav>
    <img src="../static/assets/bakery.jpg" alt="bakery" />
    <p>We bake with love and the finest ingredients.</p>
    <a href="{{ url_for('menu') }}">View Our Menu</a>

    <!-- Link to external JavaScript file -->
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
  </body>
</html>
